-# presentation section with date picker
#home
  .image-home
  .layer
  .container
    .row
      .col-lg-12
        .home-content
          %h1 Truck Tracker
          %p
            %strong Réserve ton Truck à Bordeaux !
          = label_tag :date, 'Choisissez une date'
          %br
          = text_field_tag(:date, value = Date.today, html_options = {class: 'form-control datepicker', placeholder: 'dd/mm/yyyy' })

.container-fluid
  .row
    .col-md-12
      -# select category to load datas in ajax
      %h2.mt-4 De quoi avez-vous envie ?
      %ul
        - @categories.count.each do |cat, count|
          %li.button-box-li
            = link_to "#{cat} #{count}",'#', class:'mt-2 btn btn-outline-primary button-box', 'data-category': cat


  -# return list of available trucks
  #trucks_list
    = render 'trucks_list', trucks: @trucks
